<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>checkout</title>
    </head>
    <body>
        <p>Please enter your information</p>
        <br>

        <p>Name</p>
        <input type ="text" name ="name_input">
        <br>

        <p>Email</p>
        <input type ="email" name ="email_input">
        <br>

        <p>Phone number</p>
        <input type ="number" name ="phone_number_input">
        <br>

        <p>Address</p>
        <input type ="text" name ="address_input">
        <br>
        <br>
        <input type ="submit" value ="Enter" id ="customer_checkout">
    </body>
</html>