<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Magazine Co.</title>
    </head>
    <body>
        <form action = "id" method = "post">
            <p>Log in.</p>
            <br>
            <p>Name</p>
            <input type = "text" name = "name_input">
            <br>
            <p>id</p>
            <input type = "number" name = "id_input">
            <br>
            <input type ="submit" value = "Enter" id = "name_id_input">
        </form>
    </body>
</html>