<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Magazine Co.</title>
        <link rel="stylesheet" href="{{ 
        url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <form action = "/browse" method = "post">
            

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p>{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <p>Welcome, {{user}}.</p>
            <br>

            <a href="/customerlog" name="customer_log_tab" title="View all customers">View customer log</a>
            <br>
            <br>
            <a href="/writerqueue" name="writer_tab" title="View upcoming writers">View writers and their articles</a>
            <br>
            <br>
            <a href="/sales_tab" name="sales_tab" title="View the sales figures">View the sales log</a>
            <br>
            <br>
            <a href="/discount" name="discout_tab" title="View the discounts">View current discounts</a>
            <br>

            <p>Or browse our releases</p>
            <a href="/issues" name ="issues_tab" title="Look at the list of current issues">View released issues</a>
            <br>
            <br>
            <a href="/shoppingwindow" name ="shopping_tab" title="Make a purchase">Purchase issues</a>
         
        </form>

        <form action="/logout" method="post">
            <br>
            <br>
            <br>
            <input type="submit" value="Log out" id="logout">
        </form>
    </body>
</html>