<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Magazine Co.</title>
        <link rel="stylesheet" href="{{ 
        url_for('static', filename='css/main.css')}}">
    </head>
    <body>
       <p>writers</p>


       <table>
        <tr>| AuthorID | Name | Email | Articles |</tr>
        {% for entry in table %} 
            <br>
            <br>         
            <tr>
                |
                {{entry.authorID}} |
                {{entry.name}} |
                {{entry.email}} |
                {{entry.articles}} |
                <br>
            </tr>
        {% endfor %}
        <br>
    </table> 
    <br>

       <form action = "/index" method = "post">
       <input type = submit value = "back to index" id = "return_index">
       </form>

        
    </body>
</html>